* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  height: 100%;
  background-color: var(--bg-color);
}

/* 容器 */
.container {
  background-color: var(--bg-color);
}

/* 导航栏 固定菜单位置-顶部 */
div.header {
  background-color: var(--b-header-color);
}

.menu-item {
  /* 横向排列 */
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 导航栏中的内容部分 */
.menu-item > li {
  display: flex;
}

/* 主要区域 */
main.site {
  position: relative;
  margin: 10px 15px;
  bottom: 0;
}

/*左侧栏*/
.menu {
  /* 弹性布局 + 左对齐 */
  float: left;
  background: #87CEFA;
  width: 13%;
  padding-bottom: 24px;
}

/* 左侧栏的信息 */
.left_information {
  list-style: none;
  font-family: "MYoungHeiPRC";
  font-size: 25px;
  color: #5A5A87;
  margin: 20px;
  padding: 10px 10px;
}

/* 左侧菜单的标签 */
div.left_information li {
  text-align: center;
  line-height: 4em;
  color: white;
}

/* 头像名称 */
.left_information p.header {
  margin-top: 10px;
  font-size: 30px;
}

/* 头像 */
div.left_information img {
  position: relative;
  width: 100%;
  /* 圆形头像 */
  border-radius: 100%;
}

/* 主要内容区域 */
.content {
  /* 弹性布局 + 左对齐 */
  display: flex;
  position: relative;
  left: 15px;
  margin-right:15px;
  background: -webkit-linear-gradient(#65BECD, #BBE2ED, #F4E8CF);
}

img.beach {
  position: relative;
  height: 100%;
  width: 100%;
}

div.image {
  width: 93%;
}

.fonts h1, p.blog {
  top: 0;
  color: white;
}

.fonts h1, p.blog, p.meet, p.grown, div.news, div.introduce, .energy, .energy_English {
  position: absolute;
  z-index: 1;
}

/* 初次见面 */
p.meet {
  left: 4%;
  top: 7%;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* 欢迎来访 */
div.fonts h1 {
  left: 0;
  margin-top: 4%;
  margin-left: 4%;
  font-size: 100px;
}

/* 个人网站 */
p.blog {
  left: 0;
  font-family: '思源黑体';
  margin-top: 13%;
  margin-left: 4%;
  font-size: 60px;
}

/* 自我介绍 与 最新消息*/
div.introduce, div.news {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 4%;
  margin-right: 4%;
  bottom: 5%;
  height: 12%;
  width: 12%;
  color: white;
  font-size: 30px;
  font-weight: bold;
  background-color: #87CEFA;
  border-radius: 20%;
}

div.news {
  margin-left: 8%;
  left: 15%;
}

div.energy {
  top: 3%;
  right: 4%;
  font-size: 30px;
  font-family: "思源黑体";
  color: white;
}
div.energy_English {
  top: 9%;
  right: 4%;
  font-size: 20px;
  color: white;
}

/* 共同成长 */
p.grown {
  bottom: 5%;
  right: 4%;
  color: #5A5A87;
  font-weight: bold;
}

/* 标签页 */
a {
  text-decoration: none;
  color: white;
}

a.current-menu-item {
  display: flex;
  font-family: "MYoungHeiPRC";
  align-items: center;
  font-size: 2.3rem;
  padding: 10px 20px;
  align-items: center;
  color: #5A5A87;
}